<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mychelin_page">

    <!-- 필요한 권한 추가 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mychelin_Page">

        <!-- Login Activity as Launcher Activity -->
        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Settings Activity -->
        <activity android:name=".SettingsActivity" android:exported="true" />


        <!-- FileProvider for Camera Integration -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mychelin_page.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="8ncq4hnswu"/>
        <meta-data
            android:name="naver_client_secret"
            android:value="VKFgdhKpLwYMLWZEh81rgN87eForBC12XEq6CRzb" />

    </application>

</manifest>